.hero-banner {
  margin-top: 4.5rem;
  min-height: 65vh;
  width: 100%;
  background: linear-gradient(to right, #fdb99b, #cf8bf3, #a770ef);
}
.loader-container {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 50vh;
  overflow: hidden;
}
.loader {
  height: 60%;
  display: flex;
  top: 4rem;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
.loader .stroke {
  background: var(--solid-white);
  height: 100%;
  width: 8px;
  border-radius: 50px;
  margin: 0 5px;
  animation: animate 1.2s linear infinite;
}
@keyframes animate {
  50% {
    height: 20%;
  }
  100% {
    height: 90%;
  }
}

.stroke:nth-child(3n) {
  animation-delay: 0.5s;
}
.stroke:nth-child(2n) {
  animation-delay: 0.1s;
}
.stroke:nth-child(4n) {
  animation-delay: 0.6s;
}

.stroke:nth-child(5n) {
  animation-delay: 0.3s;
}

.stroke:nth-child(7n) {
  animation-delay: 0.8s;
}

.container {
  margin: 2rem 0rem;
}
.section-heading:before,
.section-heading:after {
  content: "";
  flex-grow: 1;
  border-top: 2px solid var(--dim-grey);
  margin: auto 10px;
}
.product-list {
  margin-top: 1rem;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
}
.explore-btn {
  background: linear-gradient(
    to left,
    #fbd786,
    #c6ffdd
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: var(--solid-black);
  border: none;
  font-size: 1.75rem;
  border-radius: 10px;
}
.explore-btn:hover {
  background: linear-gradient(
    to right,
    #0f2027,
    #203a43,
    #2c5364
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* navbar  */
.nav-container {
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: var(--solid-white);
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 4.5rem;
  border-bottom: 1px solid var(--dim-grey);
}

@media screen and (max-width: 32em) {
  .hero-heading {
    font-size: 1.5rem;
  }
  .section-heading {
    font-size: 1.3rem;
  }
  .vertical-card {
    width: 10rem;
    gap: 5px;
  }
}
